#word{
    font-size: 4em;
    font-weight: bold;
    color: #444;
    text-align: center;
}

#roma{
    font-size: 3em;
    font-weight: bold;
    color: #444;
    text-align: center;
}

span{
    /* font-family: Inconsolata; */
}

.add-blue{
    font-size: 0.5em;
    color: #00f;
}

.done{
    color: #888;
}

.input{
    background-color: black;
    color: white;
}


body{
    background: url(background.jpg) center center / cover no-repeat fixed;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inconsolata,Noto Sans, Arial, Helvetica, sans-serif;
}

.keyboard-base {
    max-width: 1085px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}


.key {
    background-color: rgb(243, 243, 243);
    /* border: 2px solid black; */
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
}

.key-pressed{
    background-color: rgb(70,70,70);
    color: rgb(243, 243, 243);
}

.key:hover {
    background-color: rgb(70,70,70);
    color: rgb(243, 243, 243);
}

.next-key{
    background-color: #66ccff;
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
}
